.header {
    display: flex;
    max-width: 100%;
    align-items: center;
    justify-content: right;
    margin: 0;
    height: 10%;
}

.header-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.header-top {
    display: flex;
    height: 35px;
    padding: 10px 10px;
    justify-content: space-between;
    flex-direction: row;
    /*background-color: #9da8c1;*/
}

.header-icons {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: #c9d5e7;
    box-shadow: 5px 5px #9da8c1;
    border-radius: 5px;
    padding: 30px;
    align-items: center;
}

.header-central-icons {
    border: 1px black solid;
}

.header-right-icons {
    margin-right: 40px;
    border: 1px black solid;
}

.header-left-icons {
    margin-left: 40px;
    border: 1px black solid;
}

.user-login{
    margin-right: 15px;
    margin-left: 15px;
}

.header-photo{
    border-radius: 50%;
    border: 1px black solid;
}

.header-bottom {
    padding: 10px 10px;
    justify-content: center;
    display: flex;
    flex-direction: row;
    background-color: #c9d5e7;
    /*box-shadow: 0 3px rgba(50,125,200,0.5);*/
}

.header-item {
    top: 50%;
    left: 50%;
    display: flex;
    margin-right: 15px;
    margin-left: 15px;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 35px;
}