

.register-form {
    display: flex;
    width: 275px;
    /*height: 55%;*/
    background-color: #c9d5e7;
    border-radius: 10px;
    box-shadow: 5px 5px rgba(157,168,193, 0.8);
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    border: 1px black solid;
    padding: 10px;
    margin-bottom: 20px;
}

.register-rows-container{
    display: flex;
    background-color: rgba(231, 231, 231, 0.8);
    /*height: 100%;*/
    width: 100%;
    border-radius: 10px;
    flex-direction: column;
}