.profile-box {
    display: flex;
    flex-direction: row;
    background-color: red;
    margin: 50px;
    padding: 15px 20px;
    align-items: center;
    justify-content: center;
    min-width: 500px;
    min-height: 600px;
}