body {
    font-family: Verdana, serif;
    width: 100%;
    height: 100%;
    min-height: 722px;
    margin: 0;
    /*background-color: red;*/
    background: url("./resources/background/background2.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;;
    align-items: center;
    justify-content: center;
}

.root {
    display: flex;
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
    margin: 0;
}

.App {
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.icon {
    height: 100%;
    width: 40px;
}

/*.button {*/
/*    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);*/
/*}*/

/*.button:hover {*/
/*    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);*/
/*}*/

/* ENDLESS ROTATE */
.rotate{
    animation: rotate 1.5s linear infinite;
}
@keyframes rotate{
    to{ transform: rotate(360deg); }
}


/* SPINNER JUST FOR DEMO */
.spinner{
    display:inline-block; width: 50px; height: 50px;
    border-radius: 50%;
    box-shadow: inset -2px 0 0 2px #0bf;
}